* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    background-color: midnightblue;

}

body {
    padding-bottom: 150px;
}

h1 {
    font-size: xx-large;
}

p {
    padding-left: 25px;
}

ol { padding-left: 50px; }

li { 
  color: wheat; 
  padding-left: 50px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 15px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center-text {
    text-align: center;
}

.recipe-title {
    text-align: center;
    font-size: 50px;
}

.desc {
    padding-left: 25px;
}

.ingredients {
    padding-left: 25px;
}

.steps {
    padding-left: 25px
    ;
}